mat-card{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width:40vw;
    text-align: center;
    margin:auto;
    margin-bottom: 10vh;
}
mat-card-title{
    padding-left:15vw;
    padding-top :8vh;
}
.my-form{
    display:flex;
    flex-direction: column;
    margin: auto;
    width:20vw;
}

mat-icon{
    margin-right: 1em;
}